.sidebar-project-selector{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;

}

.sidebar-project-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-project-title span{
    font-size: 14px;
    font-weight: bold;
}

.sidebar-project-title button{
    border-radius: 50%;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.sidebar-project-title button:hover{
    transform: scale(1.30);
    transition: 0.5s;
    color: #0073ff;
}

.sidebar-project-title button:not(:hover){
    transform: scale(1);
    transition: 0.5s;
}

.sidebar-projects-container{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: .4vw;
}

.sidebar-projects-container span{
    cursor: pointer;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.9);
}

.form-container{
    height: 200px;
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99; /* Place the centered div above the overlay */
    background-color: white; /* Set the background color of the centered div */
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 15px;
}



.form-close-btn-div{
    height: 20px;
    width: 100%;
    display: flex;
    justify-content:flex-end ;
}

.form-close-btn-div button{
    border: none;
    background: none;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 15px;
}

.form-close-btn-div button:hover{
    color: #0073ff;
    transform: scale(1.15);
    transition: 0.5s;
}

.form-close-btn-div button:not(:hover){
    transform: scale(1);
    transition: 0.5s;
}

.title-input-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

.form-container input{
    height: 80px;
    width: 90%;
    outline: none;
    border: none;
    font-size: 26px;
}

.form-add-project-btn-div{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.form-add-project-btn-div button{
    width: 25%;
    height: 100%;
    margin-right: 15px;
    background-color: #0073ff;
    color: white;
    border-radius: 15px;
    font-size: 10px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.47); /* Adjust the opacity here (0.5 is semi-transparent) */
    z-index: 98; /* Place the overlay above other content */
}

.visible{display: flex;}