.main-container{
    display: none;
    flex-direction: column;
    width: 88vw;
     background-image: url(../../assets/main-bg.png);
    background-size: 125%;
    background-position: -200px 0;
    
}

.main-container-task{
    flex-grow: 1;
    display: flex;
}

.visible{
    display: flex !important;
}