.main-content-nav{
    margin-top: 2%;
    margin-left: 2%;
    display: flex;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18%;
    border-radius: 25px;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 17px -10px rgba(66, 68, 90, 1);
-moz-box-shadow: 1px 1px 17px -10px rgba(66, 68, 90, 1);
box-shadow: 1px 1px 17px -10px rgba(66, 68, 90, 1);
}

.main-content-nav span{
    font-size: 12px;
    margin-left: 5%;
    color: rgba(0, 0, 0, 0.9);
}

.main-nav-separator{
    height: 60%;
    width: 0.05vw;
    background-color: rgb(162, 162, 162);   
}

.main-content-nav img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.main-content-nav div{
    display: flex; 
    gap: .35vw;
    align-items: center;
    margin-right: 5%;
}
