.main-task-properties{
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 35%;
    margin-top: 3%;
    margin-left: 2%;
    background-color: white;
    border-radius: 25px;
}

.task-properties-navbar{
    margin: 3%;
    display: flex;
    justify-content: space-between;
}

.task-properties-navbar span{
    color: #afafaf;
    font-size: 12px;
}

.task-properties-button-div{
    display: flex;
    gap:.35vw;
}

.task-properties-button-div img{
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.task-properties-button-div img:hover{
    transform: scale(1.15);
    transition: 0.6s;
}

.task-properties-button-div img:not(:hover){
    transform: scale(1);
    transition: 0.6s
}

.prio-clicked{
    filter: brightness(0) saturate(100%) invert(76%) sepia(97%) saturate(2219%) hue-rotate(357deg) brightness(100%) contrast(108%);
}

.done-clicked{
    filter: brightness(0) saturate(100%) invert(80%) sepia(0%) saturate(148%) hue-rotate(298deg) brightness(77%) contrast(94%);
}

.task-important{
    border-bottom: 1px solid rgb(255, 196, 0);
}

.task-properties-title{
    margin-left: 3%;
    margin-right: 3%;
    font-size: 20px;
    font-weight: bold;
}

.task-properties-textarea-container{
     width: 94%;
     min-height: 15%;
     max-height: 30%;
     margin: 3%;
}

.task-properties-textarea-container span{
    font-size: 10px;
}

.task-properties-text-area{
    
    scrollbar-width: thin;
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    font-size: 13px;
}

.task-properties-text-area:focus{
    outline: none;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.task-properties-subtask-container{
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    overflow: auto;

}

.task-properties-subtask-container span{
    font-size: 10px;
}

.task-properties-subtask-div{
    flex-grow: 1;
    display: flex;
    gap: 12px;
    flex-direction: column;
}

.task-properties-subtasks-input-div{
    margin-top: 14px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .35vw;
}

.notes-title{
    margin-top: 3%;
    margin-bottom: 3%;
}

.subtasks-title-div{
    display: flex;
    width: 90%;
    gap: .35vw;

    align-items: center;
    margin-left: 10px;
}

.add-subtask-input{
    outline: none;
    border: none;
}

.subtasks-title-div span{
    text-align: center;
    font-size: 12px;
}

.task-properties-subtasks-checkbox{
    height: 14px;
    width: 14px;
    border: 1px solid #afafaf;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: none;
}

.task-properties-subtasks-input{
    width: 90%;
    text-align: left;
    cursor: pointer;
    outline: none;
    background-color: #fff;
    border: none;
}

.not-visible{
    display: none !important;
}

.task-done{
    position: relative;
    color: #afafaf;
}

.task-done::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    animation: lineAnimation .3s linear forwards;
    border-top: 1px solid #afafaf;
    
}

@keyframes lineAnimation {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }