.today-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    margin-top: 25px;
    flex-grow: 1;
}


.today-hero-container{
    display: flex;
    flex-direction: column;
    width: 35%;
}

.today-welcome-div{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    
}

.today-active-projects span{
    font-size: 0.75rem;
    font-weight: bold;
}

.today-span-hero{
    font-weight: bold;

    font-size: 1.35rem;
}

.today-span-hero span{
    color: #0073ff;
}

.today-span-hero-2{
    font-weight: bold;
    font-size: 0.85rem;
    color: #cacaca;
}

.today-date-div{
    display: flex;
    justify-content: flex-start;
    gap: 2vw;
    align-items: center;
    width: 35%;
}

.date-display-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date-display-day{
    font-size: 1rem;
    color: #909090;
}

.date-display-number{
    font-size: 2.55rem;
    font-weight: bold;
}

.date-display-month{
    font-size: 0.5rem;
    color: #cfcfcf;
}

.today-next-button{
    cursor: pointer;
    position: fixed;
    bottom: -25%;
    left: 45%;
    width: 18rem;
    height: 18rem;
    background-color: rgb(0, 115, 255);
    border-radius: 50%;
}

.today-next-button:hover{
    background-color: rgb(0, 100, 255);
}

.animation-active{
    transform: scale(12);
    transition: 0.7s;
}

.animation-not-active{
    transform: scale(0.001);
    transition: 0.7s;
}

.main-animation{
    opacity: 0.5;
    transition: opacity 2.5s;
}

.ihatethisproject{
    left: -100%;
    bottom: -100%;
}
