@import url(../src/styles/navbar.css);
@import url(../src/styles/mainContent.css);
@import url(../src/styles/addProjectForm.css);

body{
    margin: 0;
    padding: 0;
    display: flex;
}

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


